<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
This application is inspired from <a href="http://www.eventbrite.com/">Eventbrite</a>
 Users who sign up can create Events and invite other Users to events.
</p>