
  <p>Event: <%= link_to event.title, event_path(event) %>  |
  Location: <%= event.location %> | Date: <%= event.date %><br>
   <% if current_user?(event.creator) %>
    <%= link_to "delete", event, method: :delete,
                                data: { confirm: "You sure?" } %>
  <% end %></p>

